body {
  font-family: Roboto, Raleway, sans-serif;
}

.navigation .navigation-item,
.header-contacts .header-contacts-item {
  display: inline;
}

.header-link,
.header-contacts .header-contacts-item {
  text-decoration: none;
}

.navigation-and-contacts .navigation-and-contacts-item {
  display: inline-block;
}
.header-logo ,
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway , sans-serif ;
}

.header-logo {
  color: #000;
}

.footer-logo {
  color:#fff ;
  background-color: #2F303A;
  text-decoration: none ;
}

.header-logo > .logo-first-item ,
.footer-logo > .logo-first-item  {
  color: #2196f3;
}
.navigation-item-link {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.header-link-phone ,
.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  color: #757575 ;
}

.header-link-phone:hover ,
.header-link-phone:focus ,
.header-link-mail:hover ,
.header-link-mail:focus ,
.navigation-item-link:hover , 
.navigation-item-link:focus {
  color: #2196F3
}

.adress {
  font-weight: 400 ;
  font-size: 14 px ;
  color:#fff ;
  background-color: #2F303A;

}
.contact {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF99 ;
  background-color: #2F303A;
  text-decoration: none;
}

.footer-contacts {
list-style: none ;
}

.page-title {
  font-weight: 900 ;
  font-size: 44px ;
  color: #fff ;
  background-color: #2F303A;
  text-align: center;
}
.button {
  font-weight: 700 ;
  font-size: 16px ;
  color: #fff ;
  background-color: #2196F3 ;
}

.page-description-title {
  font-weight: 700 ;
  font-size: 14px ;
  color: #212121 ;
}

.page-description {
  font-weight: 400 ;
  font-size: 14px ;
  color: #757575 ;
}

.subtitle {
  font-size: 36px ;
  font-weight: 700 ;
  color: #212121 ;
  text-align: center;
}

.company-offer .company-offer-item {
  display: inline
}

.team-members .team-member {
  display: inline-block ;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px ;
  color: #212121 ;
}
.team-member-job {
  font-weight: 400 ; 
  font-size: 16 px ;
  color: #757575 ;
}
