body {
  font-family: Roboto, Raleway, sans-serif;
  color: #212121;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  margin: 0px auto;
  width: 1200px;
}

.header {
  display: flex;
  padding-bottom: 25px;
  padding-top: 24px;
  border-bottom: 1px solid #ececec;
}

.navigation-and-contacts {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 371px;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  width: 254px;
  justify-content: space-between;
  gap: 40px;
}

.navigation-and-logo {
  display: flex;
  list-style: none;
  padding-left: 0px;
  align-items: center;
  gap: 96px;
}
.navigation-item {
  margin-left: 0px;
}

.header-link,
.header-contacts-item,
.header-logo {
  text-decoration: none;
}

.header-contacts-item {
  display: flex;
  color: #757575;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
  fill: currentColor;
}

.header-contacts-item:focus,
.header-contacts-item:hover {
  color: #2196f3;
}
.smartphone {
  fill: currentColor;
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  top: 30px;
  border-radius: 2px;
}

.header-aside-list {
  display: flex;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0px;
  gap: 50px;
}

.header-logo {
  color: #000;
  text-decoration: none;
}

.footer-logo {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

.header-logo > .logo-first-item,
.footer-logo > .logo-first-item {
  color: #2196f3;
}
.navigation-item-link {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.header-link-phone,
.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-phone:hover,
.header-link-phone:focus,
.header-link-mail:hover,
.header-link-mail:focus,
.header-link:hover,
.header-link:focus,
.contact:hover,
.contact:focus {
  color: #2196f3;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 1.46;
  font-style: normal;
  margin-bottom: 9px;
}

.mail {
  margin-bottom: 9px;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff99;
  text-decoration: none;
  line-height: 1.46;
}

.footer-contacts {
  list-style: none;
  font-style: normal;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.header-logo,
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway, sans-serif;
}
.footer-box {
  box-sizing: border-box;
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-items-box {
  display: flex;
  gap: 70px;
}

.footer-aside {
  padding-top: 12px;
}

.join-us {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-social-media .footer-icon-box {
  display: inline-block;
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-box:hover,
.footer-icon-box:focus {
  background-color: #2196f3;
}

.footer-social-media-icon {
  fill: currentColor;
}

.footer-icon-box:not(:last-of-type) {
  margin-right: 10px;
}

.newsletter-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

.input-mail {
  height: 50px;
  width: 358px;
  margin-right: 12px ;
  box-sizing: border-box;
  padding-left: 16px;
  background-color: #2f303a;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-color: #ffffff4d;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff ;
}

.input-mail:focus {
  color: #fff ;
  outline: none;
  border-color: #2196f3;
}

.submit-newsletter {
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 46px;
  display: inline-flex;
  gap: 24px;
  align-items: center;
}

.submit-newsletter > p {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.submit-newsletter > svg {
  fill: #fff;
}

.main-section-box {
  box-sizing: border-box;
  display: block;
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
}

.page-title-and-button {
  display: inline-block;
}

.page-title {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  height: 120px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  margin: 0;
  line-height: 1.16;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-style: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  line-height: 1.6;
  cursor: pointer;
}

.page-description-item {
  display: inline-block;
  width: 270px;
  height: 101px;
}

.lorem-impusum {
  padding-bottom: 94px;
}

.page-description-item:not(:last-of-type) {
  margin-right: 30px;
}

.page-description-icon {
  background-color: #f5f4fa;
  box-sizing: border-box;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 101px;
  border-radius: 4px;
}

.page-description-title {
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
}

.page-description {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  line-height: 1.46;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.company-offer {
  padding-left: 0px;
  margin: 0;
}

.company-offer .company-offer-item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  max-height: 294px;
}

.company-offer-item:not(:last-of-type) {
  margin-right: 30px;
}

.company-offer-item > .offer-img-description {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  margin-bottom: 0px;
}

.team-members .team-member {
  display: inline-block;
}

.team-members {
  padding-left: 0px;
  margin: 0px;
}

.team-member {
  width: 270px;
  height: 428px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member:not(:last-of-type) {
  margin-right: 30px;
}

.team-member-item {
  margin: 0;
  height: 428px;
}

.team-member-description {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.team-member-job {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-social-media {
  margin-top: 16px;
  margin-left: 28px;
}

.team-icon-box {
  box-sizing: border-box;
  display: inline-block;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-box:not(:nth-of-type(4n)) {
  margin-right: 10px;
}

.team-icon-box:hover,
.team-icon-box:focus {
  background-color: #2196f3;
  color: #fff;
}

.team-social-media-icon {
  fill: currentColor;
}

.our-clients {
  margin: 0;
  padding-left: 0px;
}

.our-clients .client-logo {
  display: inline-block;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border-color: #afb1b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 17px 32px 14px 32px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-logo-icon {
  fill: currentColor;
}

.client-logo:not(:last-of-type) {
  margin-right: 30px;
}

.portfolio-content {
  margin: 0px;
}

.portfolio-buttons-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.portfolio-buttons-item {
  display: inline-block;
  height: 38px;
  width: 121px;
}
.portfolio-buttons-item:not(:last-of-type) {
  margin-right: 8px;
}

.portfolio-button {
  height: 38px;
  width: 121px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  border-radius: 4px;
  line-height: 1.39;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products {
  margin: 0px;
  padding-left: 0px;
}

.product {
  display: inline-block;
  height: 404px;
  width: 370px;
  margin-top: 0px;
}

.product:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.product:nth-of-type(n + 4) {
  margin-top: 30px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-filters {
  text-align: center;
}

.product-image-and-content {
  margin: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-image-and-content:hover,
.product-image-and-content:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  line-height: 1.55;
  color: #fff;
  background-color: #2196f3e5;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-image-and-content:hover .overlay,
.product-image-and-content:focus .overlay {
  transform: translateY(0);
}

.product-description {
  box-sizing: border-box;
  padding: 20px 24px;
  height: 110px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.company-name {
  font-size: 18px;
  line-height: 1.71;
  margin-bottom: 4px;
  margin-top: 0px;
  text-align: left;
}
.job-type {
  color: #757575;
  line-height: 1.6;
  text-align: left;
  margin: 0px;
}

.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-box {
  width: 528px;
  height: 581px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 2px 1px #00000033, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  transform: scale(1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal-box {
  transform: scale(0);
}

.close-btn {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #fff;
  padding: 6px;
  cursor: pointer;
}

.modal-tittle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 12px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px 40px;
  gap: 10px;
  font-family: Roboto;
}

.contact-form-box > textarea {
  font-family: Roboto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-box > textarea::placeholder {
  color: #75757580;
}

.contact-form-box > textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.contact-form-box > p {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}

.form-input-box {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.form-input-box:focus-within {
  fill: #2196f3;
}

.form-input {
  border-style: solid;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-color: #21212133;
  width: 100%;
  height: 100%;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-data-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.comment {
  box-sizing: border-box;
  padding: 12px 16px;
  width: 100%;
  resize: none;
  font-size: 12px;
  height: 120px;
  border-width: 1px;
  border-color: #21212133;
  border-radius: 4px;
  margin-bottom: 10px;
}

.statement-box {
  margin-bottom: 20px;
}

.statement-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.checked {
  display: inline;
  cursor: pointer;
}

.not-checked {
  display: none;
  visibility: hidden;
}

.statement-check:not(:checked) + .checked {
  visibility: hidden;
  display: none;
}

.statement-check:not(:checked) ~ .not-checked {
  visibility: visible;
  display: inline;
  cursor: pointer;
}

.statement {
  color: #757575;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
}

.statement > a {
  color: #2196f3;
}

.contact-button {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 4px 4px #00000026;
  cursor: pointer;
}
