@import "../utils/vars.scss";

.article {
  
  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
  }
}

.section-box {
  display: inline-block;
  height: 120px;
  
  @media screen and (max-width: $tablet) {
  &:not(:first-of-type) {
    margin-top: 30px;
  }
}
  @media screen and (min-width: $tablet) {
    display: inline-block;
    max-width: 354px;

    &:not(:nth-of-type(2n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: 270px;
    
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  &__icon-box {
    background-color: $background-light;
    box-sizing: border-box;
    height: 120px;
    margin-bottom: 30px;
    padding-top: 25px;
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
    width: 100%;

    @media screen and (max-width: $tablet) {
      margin-top: 0px;

      &:nth-of-type(n + 2) {
        margin-top: 30px;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0px;
    }
  }

  &__subtitle {
    @include font-parameters(14px, 700);
    margin: 0px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  &__text {
    @include font-parameters(14px, 400);
    color: $bright-color;
    margin-bottom: 0px;
    line-height: 1.46;
    margin-top: 10px;
  }
}
