@import "../utils/vars.scss";

.menu-toggle {
	position: relative;
	background-color: $background-light;
	border: none;
	@include size(40px, 40px);
	padding: 0;
	margin: auto 0;
	z-index: 99;

	@media screen and (min-width: $tablet) {
		display: none;
	}

	&:hover,
	&:focus {
		color: $brand-color;
	}
}

.menu-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	transform: scale(0) translate(-100px, 100px);
	visibility: hidden;
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s visibility 0 0.3s;
	transform-origin: top right;

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: $dark-motive;
		background-color: transparent;
		padding: 0px;
		border: none;

		&:focus,
		&:hover {
			color: $brand-color;
		}
	}
}
.menu-container.is-open {
	visibility: visible;
	opacity: 1;
	transform: scale(1) translate(0);
	transition: transform 0.3s, opacity 0.3s, visibility 0s;
}

.menu-container:not(.is-open) {
	opacity: 0;
	transform: scale(0) translate(-100px, 100px);
	visibility: hidden;
	transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
}

.mobile-menu {
	position: relative;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 100px;
	height: 100vh;
	overflow: hidden;

	@media screen and (min-width: 370px) {
		padding-top: 110px;
	}

	&__logo {
		position: absolute;
		top: 20px;
		left: 20px;
		color: #000;
		@media screen and (min-width: 370px) {
			font-size: 28px;
		}
	}

	&__aside {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: end;
		padding: 30px 20px 20px;
		background-color: $dark-motive;
		text-decoration: none;
		z-index: 1;
		font-weight: bold;

		@media screen and (min-width: 375px) {
			font-size: 18px;
		}
	}

	&__phone {
		padding-bottom: 10px;
		text-decoration: none;
		color: $brand-color;
	}

	&__mail {
		color: $bright-color;
		text-decoration: none;
		padding-bottom: 20px;
	}

	&__social {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 20px;
		margin: 0px;
		padding-top: 20px;
		width: 100%;
		list-style: none;

		::before {
			content: "";
			position: absolute;
			display: block;
			width: 90%;
			height: 2px;
			background: linear-gradient(90deg, #007bff, #15b4d4);
			top: 0;
			left: calc(50% + 20px);
			transform: translateX(-50%);
			border-radius: 3px;
			opacity: 0.7;
		}
	}

	&__social-link {
		color: $brand-color;
		display: inline-block;
		padding-bottom: 10px;
	}

	&__background-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/test.webp");
		background-size: cover;
		z-index: -1;
	}
	&__background-img::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-color: rgba(245, 244, 250, 0.668);
	}
}

.mobile-links {
	display: flex;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	flex-direction: column;
	gap: 30px;
	list-style: none;
	font-size: 22px;

	@media screen and (min-width: 370px) {
		font-size: 26px;
		gap: 40px;
	}

	&__link {
		text-decoration: none;
		color: #212121;
		font-weight: bold;
		position: relative;
		padding: 5px 10px;
		border-radius: 5px;
	}

	&__link::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 4px;
		background: linear-gradient(90deg, #007bff, #15b4d4);
		bottom: -4px;
		left: 0;
		border-radius: 3px;
		opacity: 0.7;
	}
}
