@import "../utils/vars.scss";

.page-header__logo {
  color: #000;
  text-decoration: none;
  display: inline ;
}

.footer-box__logo {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

.main-logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway, sans-serif;
}

.main-logo--accent {
  color: $brand-color;
}
