@import "../utils/vars.scss";

.portfolio-content {
  margin: 0px;

  &__products {
    margin: 0px;
    padding-left: 0px;
  }

  &__product {
    display: inline-block;
    @include size(370px, 404px);
    margin-top: 0px;

    &:not(:nth-of-type(3n)) {
      margin-right: 30px;
    }

    &:nth-of-type(n + 4) {
      margin-top: 30px;
    }
  }
}

.product__box {
  margin: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  &:hover .product__overlay,
  &:focus .product__overlay {
    transform: translateY(0);
  }
}

.product {
  &__overlay-box {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    @include size(100%, 100%);
    @include font-parameters(18px, 400);
    @include transition(transform);
    text-align: left;
    line-height: 1.55;
    color: #fff;
    background-color: #2196f3e5;
    padding: 49px 45px 49px 24px;
    transform: translateY(110%);
  }

  &__description {
    box-sizing: border-box;
    padding: 20px 24px;
    height: 110px;
    line-height: 1.6;
    @each $border in bottom, left, right {
      border-#{$border}: 1px solid #eeeeee;
    }
  }

  &__company {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 0px;
    text-align: left;
  }

  &__type {
    color: $bright-color;
    line-height: 1.6;
    text-align: left;
    margin: 0px;
  }
}
